.add_chat {
    border-radius: 10px;
    background: #181818;
    border:rgba(0, 0, 0, 0.0);
    opacity: 0.8;
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
}
.add_chat_event_box {
    background: #c4c4c4;
    border:rgba(0, 0, 0, 0.0);
    opacity: 0.8;
}
.add_chat_entry {
    color: #c4c4c4;
    background-color: #181818;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 16px;
}
.add_chat_label {
    color: #181818;
}